.sidebar {

    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 75px;
    z-index: 2;
}

.sidebar-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-link:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.sidebar-link img {
    height: 25px;
    margin-bottom: 5px;
}

.sidebar-link div {
    font-size: 10px;
}